<form>
	<div class="guest-book-form">
		<h2>GIVE ME YOU THING WITH US</h2>
		<p>Your feedback means the world to us, it's how we improve our level of service. Feel free to share your experience if you've stayed with us before.</p>

		<div class="form-field">
			<input type="text" class="field-text" placeholder="Your Name">
		</div>
		<div class="form-field">
			<input type="text" class="field-text" placeholder="Email Address">
		</div>
		<div class="form-field">
			<input type="text" class="field-text" placeholder="Locations (Town / Country)">
		</div>
		<div class="form-field">
			<input type="text" class="field-text" placeholder="Testimonial Title">
		</div>
		<div class="form-field">
			<textarea class="field-textarea" placeholder="Your Testimonial"></textarea>
		</div>
		<div class="form-field">
			<input type="file" class="field-text" placeholder="Profil Picture">
		</div>
		<div class="form-field">
			<button class="awe-btn awe-btn-13" type="submit" name="action">WRITE IN GUEST BOOK</button>
		</div>
	</div>
</form>